.errImage {
  width: 50%;
  height: 50%;
  margin: 1rem auto;
  display: flex;
}
err-container {
  height: 100vh;
}
.err-heading {
  color: red;
}

.err-data {
  font-size: 1rem;
  color: white;
}
.err-status {
  font-size: 1rem;
  color: white;
}
.err-details {
  border: 1px solid rgb(87, 59, 131);
  background-color: rgb(158, 139, 188);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  padding: 1rem;
  color: white;
}
.errImage1 {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: flex;
}
