.restaurantDetails {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 80vh;
  margin-top: 70px;
}
.top {
  background-color: black;
  min-height: 15rem;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 1rem 10%;
}

img {
  border-radius: 10px;
  height: 14rem;
}
.restaDetails {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
}
.restaName {
  color: white;
  font-size: 3rem;

  letter-spacing: 0.3rem;
  text-shadow: 0px 1px 0px #ccc, 0px 2px 0px #ccc, 0px 3px 0px #ccc,
    0px 4px 0px #ccc, 0px 5px 0px #ccc, 0px 6px 0px #ccc, 0px 7px 0px #ccc;
}

.minorDetails {
  display: flex;
  align-items: center;
}
.rest-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: rgb(87, 59, 131);
  font-weight: bold;
}
.area {
  margin-right: 1rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.starBtn {
  background-color: green;
  margin-right: 3rem;
  margin-top: 2rem;
}

.listMenu {
  list-style: none;
}

.rightRest {
  display: flex;
  flex-direction: column;
}

.rightRest ul {
  display: flex;
  flex-direction: column;
  list-style: circle;
}
.bottom {
  display: flex;
  margin: 0;
  align-items: center;
}

.restdetails-left {
  width: 70%;
}

.reatdetails-right {
  background-color: rgb(220, 204, 247);
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0;
}
.rest-cart-heading {
  margin: 0 auto;
}
.rest-cart-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.rest-cart-itemname {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5rem 0;
}
.rest-cart-price {
  margin-bottom: 2rem;
}
.rest-cart-itemdetails {
  display: flex;
  flex-direction: row;
  width: 2rem;
  justify-content: baseline;
}
.btn-cart {
  margin-right: 5rem;
}
.rest-cart-total {
  display: flex;
  align-items: end;
  color: aliceblue;
  font-size: 2rem;
  font-weight: bolder;
  justify-content: end;
  margin-bottom: 2rem;
}
.go-to-cart {
  padding: 1rem;
  background-color: rgb(162, 141, 196);
  color: white;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  display: flex;
  margin: auto;
}
@media (max-width:600px) {
  .top {    
    display: flex;
    flex-direction: column;   
  }
.rest-image{
    border-radius: 5px;
    height: 9rem;
    width:15rem;
  }
  .restaName {
    color: white;
    font-size: 1rem;
  text-shadow: 0px 1px 0px #ccc, 0px 2px 0px #ccc;}
  .area{
    font-size: 0.7rem;
    margin-top: 0.5rem;
  }
  .starBtn{
    margin-top: 0.5rem;
    margin-right: 0;
  }
  .reatdetails-right{
    display: none;
  }
  .bottom{
    width: 90%;
  }
}

.menu-card-details{
  width: 100%;
  padding: 0.5rem;
}